body {
  margin: 0;
}
header {
  background-color: #f1634f;
  padding: 67px 0px;
}
header > h1 {
  margin: 0 0 40px 0;
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  color: #ffffff;

}
header > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

header > ul > li{
  display: inline;
  margin: 0px 5px;

}

header > ul > li > a {
color: #ffffff;
font-size: 18px;
font-weight: 400;
text-decoration: none;
}
section {
      padding: 60px 80px;
}
section > h3 {
  margin: 0 0 40px 0;
  font-size: 36px;

section > h4 {
  margin: 0 0 40px 0;
}
}

#about > p {
  width: 60%;
  float: right;
}
#about > div {
  width: 40%;
  display: inline-block;
}
#about > div > img {
  width: 60%;
}

#Projects > div > div > p {
  margin: 40px 0 0 0;
}
#Projects > div > div {
  display: inline-block;
  text-align: center;
}
#Projects > div > div > img {
  margin: 0 0 40px 0;
  width: 90%;

}

footer {
  background-color: #f1634f;
}
footer > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
footer >  ul > li {
  display: inline;
  margin: 0px 5px;
}
footer > ul > li > a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
